/* Универсальные стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.6;
}

/* Шапка */
header {
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    margin-right: 15px;
}

nav a:hover {
    color: #e63946;
}

/* Основное содержимое */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

section img {
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Преимущества */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Таблица */
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

/* Футер */
footer {
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #e63946;
}
